# Nusxa oling va .env deb nomlang
PORT=5000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/best_burger
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
FRONTEND_URL=https://YOUR-RENDER-URL.onrender.com
ADMIN_GROUP_ID=-YOUR_GROUP_ID
